<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <title>Home</title>
</head>

<body>
  <header>

  </header>
  <main>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
        <button class="nav-link" id="nav-meals-tab" data-bs-toggle="tab" data-bs-target="#nav-meals" type="button"
          role="tab" aria-controls="nav-meals" aria-selected="false">Meals</button>
        <button class="nav-link" id="nav-schedule-tab" data-bs-toggle="tab" data-bs-target="#nav-schedule" type="button"
          role="tab" aria-controls="nav-schedule" aria-selected="false">Schedule</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <h2>Grocery List</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Ingredient</th>
              <th scope="col">Amount</th>
              <th scope="col">Units</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td>Spaghetti</td>
              <td>.33</td>
              <td>lbs</td>
            </tr>
            <tr>
              <td>Bacon</td>
              <td>3</td>
              <td>pieces</td>
            </tr>
            <tr>
              <td>Eggs</td>
              <td>3</td>
              <td></td>
            </tr>
            <tr>
              <td>Parmigiano Reggiano</td>
              <td>1</td>
              <td>oz</td>
            </tr>
            <tr>
              <td>Pecorino Romano</td>
              <td>1</td>
              <td>oz</td>
            </tr>
            <tr>
              <td>Salt and Pepper</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="nav-meals" role="tabpanel" aria-labelledby="nav-meals-tab" tabindex="0">
        Meals
      </div>
      <div class="tab-pane fade" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab" tabindex="0">
        Schedule
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>