<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <title>Home</title>
</head>

<body>
  <header>

  </header>
  <main>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
        <button class="nav-link" id="nav-meals-tab" data-bs-toggle="tab" data-bs-target="#nav-meals" type="button"
          role="tab" aria-controls="nav-meals" aria-selected="false">Meals</button>
        <button class="nav-link" id="nav-schedule-tab" data-bs-toggle="tab" data-bs-target="#nav-schedule" type="button"
          role="tab" aria-controls="nav-schedule" aria-selected="false">Schedule</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        Home
      </div>
      <div class="tab-pane fade" id="nav-meals" role="tabpanel" aria-labelledby="nav-meals-tab" tabindex="0">
        Meals
      </div>
      <div class="tab-pane fade" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab" tabindex="0">
        Schedule
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>